POSTGRES_USER=postgres
POSTGRES_ROOT_PASSWORD=password

APP_DB_USERNAME=gym_user
APP_DB_PASSWORD=password
APP_DB_NAME=gym_crm
TEST_DB_NAME=gym_crm_test

REPL_PASSWORD=password
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
